.container {
  display: flex; /* Use flexbox layout */  
  justify-content: center; /* Center flags horizontally */  
  align-items: center; /* Center flags vertically */  
  width: 100%; /* Full width of the parent */  
  height: 100%; /* Full height of the parent */  
  transform: rotate(-30deg); /* Rotate the entire container to the left */  
  transform-origin: center; /* Set rotation point to the center */  
  position: relative; 
  }

  .flag {  

   width: 30%;
    cursor: pointer;  
    transition: transform 0.3s, box-shadow 0.3s;  
}  
.active {  
    transform: scale(1.2); 
    box-shadow: 0 0 10px rgba(135, 215, 224, 0.5);
    transition: transform 0.3s, box-shadow 0.3s; 
}  