
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      background-image: url(../../public/images/DevelopementCover.png);  
      background-size: cover;  
      background-position: center; 
      z-index: 0;
    } 
  .sideBar{
  flex-basis: 30%;
  }
  .mainNav{

    flex-basis: 70%;
}